.tag {
  margin: 0.25rem;
}

.border {
  border: 1px solid #dee2e6;
}

.border-surface {
  border-color: var(--surface-border, #dee2e6);
}

.rounded-border {
  border-radius: 6px;
}

.m-2 {
  margin: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-48 {
  height: 20rem;
}

.object-cover {
  object-fit: contain;
}

.text-sm {
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

:host ::ng-deep {
  .p-carousel-prev-button {
    margin-left: 25px;
    margin-right: 15px;
  }
  .p-carousel-next-button {
    margin-right: 25px;
    margin-left: 15px;
  }
}
