<section class="about">
  <h1>About Us</h1>
  <p>
    Meet the talented creators behind our website. Each of them brings a unique set of skills and
    creativity to our platform.
  </p>
</section>

<div class="main-content">
  <!-- Upper Section -->
  <div class="upper-section">
    <!-- New Slider Carousel (Upper Left) -->
    <section class="slider-section">
      <h2>Creators of the CODERS Website</h2>
      <div class="slider-container">
        <div class="slider-wrapper">
          <div class="slider" #slider>
            <div class="slide">
              <img src="assets/images/People/zach_ydunate.jpg" alt="Team Member 1" />
              <div class="slide-content">
                <h3>Zach Ydunate</h3>
                <p>Major: Computer Science | Class of 28'</p>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/zachary-ydunate/"
                    ><span class="pi pi-linkedin icon"></span
                  ></a>
                  <a href="https://github.com/zydunate"><span class="pi pi-github icon"></span></a>
                </div>
              </div>
            </div>
            <div class="slide">
              <img src="assets/images/People/brendan_lambrecht.jpeg" alt="Team Member 2" />
              <div class="slide-content">
                <h3>Brendan Lambrecht</h3>
                <p>Major: Computer Science Master of Software Engineering | Class of 27'</p>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/brendanlambrecht/"
                    ><span class="pi pi-linkedin icon"></span
                  ></a>
                  <a href="https://github.com/BlambrechtCodes"
                    ><span class="pi pi-github icon"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="slide">
              <img src="https://avatars.githubusercontent.com/u/190006724" alt="Team Member 3" />
              <div class="slide-content">
                <h3>Andree Lin</h3>
                <p>Major: Computer Science | Class of 25'</p>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/andree-lin-56196a284/"
                    ><span class="pi pi-linkedin icon"></span
                  ></a>
                  <a href="https://github.com/andreelinyx"
                    ><span class="pi pi-github icon"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="slide">
              <img src="https://avatars.githubusercontent.com/u/97517220" alt="Team Member 4" />
              <div class="slide-content">
                <h3>Muhammad Fardeen</h3>
                <p>Major: Computer Science | Class of 26'</p>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/muhdfdeen"
                    ><span class="pi pi-linkedin icon"></span
                  ></a>
                  <a href="https://github.com/muhdfdeen"><span class="pi pi-github icon"></span></a>
                </div>
              </div>
            </div>
            <div class="slide">
              <img src="assets/images/People/IMG_7025.JPG" alt="Team Member 5" />
              <div class="slide-content">
                <h3>Bishal Karki</h3>
                <p>Major: Computer Science: Master of Software Engineering | Class of 25'</p>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/bishalkarki655/"
                    ><span class="pi pi-linkedin icon"></span
                  ></a>
                  <a href="https://github.com/bishalkarki01"
                    ><span class="pi pi-github icon"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="slide">
              <img
                src="https://media.licdn.com/dms/image/v2/D4D03AQGnxJrH_Ff6Rg/profile-displayphoto-shrink_400_400/B4DZVkqyZsGkAg-/0/1741150694280?e=1750291200&v=beta&t=1mVd--OhySZOReysMbikZzN8nQj7fC_zyyTYXzt0-N0"
                alt="Team Member 6"
              />
              <div class="slide-content">
                <h3>Leroy Ombogo</h3>
                <p>Major: Computer Science | Class of 27'</p>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/leroy-o-13b724247/"
                    ><span class="pi pi-linkedin icon"></span
                  ></a>
                  <a href="https://github.com/Leroy-collab"
                    ><span class="pi pi-github icon"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="slide">
              <img
                src="https://media.licdn.com/dms/image/v2/D4E03AQFygoRxp3Hzog/profile-displayphoto-shrink_400_400/B4EZY7CioRHYAg-/0/1744747244782?e=1750291200&v=beta&t=R9Xjae8snq5GpLVZhb-hZ38LiQzLKgBW2kH-hxFB_ts"
                alt="Team Member 7"
              />
              <div class="slide-content">
                <h3>Ahra Cho</h3>
                <p>Major: Computer Science | Class of 27'</p>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/ahra-cho-3630a5355/"
                    ><span class="pi pi-linkedin icon"></span
                  ></a>
                  <a href="https://github.com/Ahrax-x"><span class="pi pi-github icon"></span></a>
                </div>
              </div>
            </div>
            <div class="slide">
              <img
                src="https://media.licdn.com/dms/image/v2/D4E03AQGw3r0jjhKSXg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1729082092958?e=1750291200&v=beta&t=lh2wSRdkuh9ti67F0EKdS4tGzta-iVEjpgp2ff-T0b8"
                alt="Team Member 8"
              />
              <div class="slide-content">
                <h3>Jack Kern</h3>
                <p>Major: Computer Science Master of Software Engineering | Class of 26'</p>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/jack-kern-b9b501333/"
                    ><span class="pi pi-linkedin icon"></span
                  ></a>
                  <a href="https://github.com/KernJack"><span class="pi pi-github icon"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-controls">
          <button class="slider-btn" #prevSlideBtn (click)="prevSlide()">&#60;</button>
          <button class="slider-btn" #nextSlideBtn (click)="nextSlide()">&#62;</button>
        </div>
        <div class="slider-dots" #sliderDots>
          <!-- Dots will be added by JavaScript -->
        </div>
      </div>
    </section>
    <!-- Calendar Section (Upper Right) -->
    <section class="calendar-section">
      <h2>Upcoming Events</h2>
      <div class="calendar">
        <iframe
          src="https://calendar.google.com/calendar/embed?src=61d2c536ecd3a2b20ec4b8693e7193b78600b2970188ec7d2e3d26f5412de18d%40group.calendar.google.com&ctz=America%2FChicago"
          style="border: 0"
          width="100%"
          height="600"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
    </section>
  </div>

  <!-- Shadow Line -->
  <div class="shadow-line"></div>

  <!-- Lower Section (Now stacked vertically) -->
  <div class="lower-section">
    <!-- Professors Section (Top) -->
    <section class="professors-section">
      <h2>Leading Faculty Advisors</h2>
      ⠀
      <!-- Unicode Here for Spacing -->
      <div class="professor-cards">
        <div class="professor-card">
          <img src="https://www.uwlax.edu/User/photo/sfoley.jpg" alt="Professor 1" />
          <h3>Samantha Foley</h3>
          <!-- <p>Email: sfoley@uwlax.edu</p> -->
        </div>
        <div class="professor-card">
          <img src="https://www.uwlax.edu/User/photo/asauppe.jpg" alt="Professor 2" />
          <h3>Allison Sauppe</h3>
          <!-- <p>Email: asauppe@uwlax.edu</p> -->
        </div>
      </div>
    </section>

    <!-- Shadow Line -->
    <div class="shadow-line"></div>

    <!-- Exec Team Section (Bottom) -->
    <section class="exec-team-section">
      <h2>The Executive Team</h2>
      ⠀
      <!-- Unicode Here for Spacing -->
      <div class="exec-cards">
        <div class="exec-card">
          <img src="assets/images/People/brendan_lambrecht.jpeg" alt="Exec Member 1" />
          <h3>Brendan Lambrecht</h3>
          <p>President</p>
        </div>
        <div class="exec-card">
          <img src="assets/images/People/jack_kern.jpg" alt="Exec Member 2" />
          <h3>Jack Kern</h3>
          &nbsp;
          <p>Vice President</p>
        </div>
        <div class="exec-card">
          <img src="assets/images/People/mason_wagner.jpg" alt="Exec Member 3" />
          <h3>Mason Wagner</h3>
          <p>Secretary</p>
        </div>
        <div class="exec-card">
          <img
            src="https://media.licdn.com/dms/image/v2/D4E03AQFygoRxp3Hzog/profile-displayphoto-shrink_400_400/B4EZY7CioRHYAg-/0/1744747244782?e=1750291200&v=beta&t=R9Xjae8snq5GpLVZhb-hZ38LiQzLKgBW2kH-hxFB_ts"
            alt="Exec Member 4"
          />
          <h3>Ahra Cho</h3>
          <p>Social Media Coordinator</p>
        </div>
      </div>
    </section>
  </div>
</div>
