<section class="research-projects">
  <h1>Projects</h1>
  <p>
    Check out the projects our members have been working on. Contact an executive to showcase your
    work!
  </p>
</section>
<app-carousel [items]="projectData" />
<!-- <section class="research-projects">
    <h1>Research</h1>
    <p>Delve into the cutting-edge research conducted by our dedicated club members.</p>
</section>
<app-carousel [items]="researchData" /> -->
<section class="research-projects">
  <h1>CS Lightning Talks</h1>
  <p>
    At the annual CS Lightning Talks, faculty give quick presentations on their research to inspire
    student projects.
  </p>
</section>
<app-carousel [items]="lightningTalksData" />
